
    <div class="mobile-title">
        <img  src="assets/img/Capa 2.png" class="mobile-logo" >
    </div>

    <nav class="mobile-nav" id="mobileNav">
        <a class="smooth-link" href="summary.html"><img src="assets/img/summary.png"> Summary</a>
        <a class="smooth-link" href="addTask.html"><img src="assets/img/addTask.png"> Add Task</a>
        <a class="smooth-link" href="board.html"><img src="assets/img/board.png"> Board</a>
        <a class="smooth-link" href="contacts.html"><img src="assets/img/contacts.png"> Contacts</a>
    </nav>
 